# secrets
.envrc

# ignore basic python artifacts
.env
**/__pycache__/
**/*.py[cod]
**/*$py.class

# python version from pyenv
.python-version

# virutal environments
.venv

# duckdb files
*.duckdb
*.wal